@import "../abstracts/variables";
.sub-menus{
    box-shadow: $shadow;
    background: $header;
&-menu
{
   
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #F0EBEB;
    justify-content: space-between;
    color: $color-text;
    align-items: center;
}
&-menu:hover{
    background: $background;
    cursor: pointer;
}
.icon-dropleft
{
    background: url('../images/arrow-rightaa.jpg') no-repeat;
    padding: 5px;
    background-size:cover;
    display: inline-block;
    height: 5px;                        
}
}
.banner
{
    padding-left: 45px;
    padding-top: 45px;
    box-shadow: $shadow;
    position: relative;
    .content
    {
       
        position: absolute;
       
        top:0px;
        right: 0px;
        width: 58%;
        height: 100%;
    &-body {
        position: absolute;
        width: 100%;
        top:20%;
        bottom: 30%;
        right:0px;
        text-align: center;
        
    }
}
        .bottom-navs
        {
            background: $header;
            padding: 20px 20px 0;
            display: flex;
            justify-content: space-between;
            align-content: space-between;
           .bottom-nav
           {
            color: $color-text;
            font-weight: bold;
            font-size: 15px;  
            cursor: pointer;
           }
        }
}
.bottom-nav::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 20px;
    background:$orange;
    transition: width .5s;
}

.bottom-nav:hover::after {
    width: 100%;
}

@media only screen and (max-width: 1200px)
{
	.sub-menus-menu
    {
        padding: 11px;
    }
    .banner{
        padding-left: 30px;
        padding-top: 30px;
    }
}
@media only screen and (max-width: 992px)
{
    .sub-menus-menu
    {
        padding: 9px;
        font-size: 13px;
    }
    .banner{
 
        .bottom-navs
        {
            .bottom-nav
            {
            font-size: 13px;
            }
        }
    }
}

@media only screen and (max-width: 768px)
{
    .drop{
        position: relative;
        
    }
   
    .sub-menus{
   
    display: none;
  position: absolute;
  background-color: $header;
  z-index: 1000;
  
    }  
    .toggle{
    
		width: 100%;
        height: auto;
		opacity: 1;
        right: 0px;
        display: block;
        transition: all 500ms;
	}
   .col-9
   {
       width: 100%;
   }
   .banner
   
   {
       padding-left: 0px;
   }
}

@media only screen and (max-width: 576px)
{
    .drop{
        width: 45%;
    }
    .banner
    {
        .content{
        &-body
        {
          
            top:50px;
    
            p{
                display: none;
            }
        
        }
    }
    .bottom-navs
        {
            padding: 10px 0 0;
            justify-content: space-around;
            .bottom-nav
            {
            font-size: 7px;
          
            }
        }
    }
}




