@import "../abstracts/variables";

.boxs
{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // @include margin;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width:100%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    .shop-box
    {
        
        position: relative;
   
  .box-text{
    bottom: 10%;
    width: 50%;
    right: 10px;
    top: 10%;
    position: absolute;
    text-align: center;
} 
  
}
}

@media only screen and(max-width: 768px){
     .boxs{
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}




@media only screen and(max-width: 576px){
   
   .boxs{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
               .shop-box
            {
                .box-text
                {
                    top:15%;
                }
             }
        }
}