$blue: #00abfd;
$font:'Open Sans', Arial, sans-serif;
$rale: 'Raleway', sans-serif;
$poiret: 'Poiret One', cursive;
$color-text: #747272;
$shadow: 2px 9px 49px -17px rgba(141, 132, 132, 0.3);
$header: #ffffff;
$background: #efefef;
$grey: #DAD1D1;
$orange: #fe6d04;
$light-orange: #f5a977; 
$dark-orange: #b75b2c;
$dark-pink: #d9535e;
$dark-green:#4b9063;